html, body{
  margin: 0 auto;
  padding: 0 auto;
  font-size: 62.5%;
  box-sizing: border-box;
}
.holster {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.container {
  display: flex;
  overflow: auto;
  height: 10rem
}

.container.x {
  width: 90%;
  flex-flow: row nowrap;
}

.x.scroll{
  scroll-snap-type: x mandatory;
}

.container >div {
  text-align: center;
  scroll-snap-align: center;
  flex: none;
  font-size: 5rem;
  width: 100%;
}

.container > div:nth-child(even) {
  background-color: #87EA87;
}

.container > div:nth-child(odd) {
  background-color: #87CCEA;
}
