html,
body{
  background-color: salmon;
  box-sizing: border-box;
  padding: 0 auto;
  margin: 0 auto;
  font-size: 62.5%;
  display: flex;
  //justify-content: center;

}

.quotes{
  //width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
}

.slider{
 // width: 50rem;
  text-align: center;
  overflow: hidden;
}

.slides{
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: mandatory;
  transition: smooth;
  transform-origin: center;
  font-size: 4rem;
  position: relative;
}


.slides > div{
  background-color: white;
  width: 80vw;
  margin-right: 5rem;
  transform-origin: center  center;
  overflow-x: hidden;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  
}